html {
    font-size: 80%;
  }

/*Inicio do Estilo do cabeçalho*/


header{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin-left: 5rem;
}

#cabecalho ul li{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 1.5rem;
}

#cabecalho ul li a{
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #06092b;
}

#cabecalho ul li a:hover{
    opacity: 0.6;
}

button{
    cursor: pointer;
    color: aliceblue;
    float: right;
    background-color:  #06092b ; 
    width: 7rem;
    height: 3rem;
    font-size: large;
    margin-right:5rem;
    border: 1px solid #06092b;
    border-radius: 1rem;
  }
  
  button:hover{
      opacity: 0.85;
  }

/*
    FIM DO ESTILO CABECALHO
*/

/*INICIO DO ESTILO DA MAIN*/
main{
    width: 90vw;
    margin: 0 auto;
    display: inline;
}

#description{
    margin: auto;
    text-align: justify;
    width: 85%;
    font-size: max(2vw,1.5rem);
}

#description p{
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 100%;
    font-weight: 400;
}
#cadastro{
    margin-top: 1.5rem;
    float: left ; 
    width: 100%;
    font-size: 2rem;
    padding: 2rem 2rem 4rem;
}

#image{
    width: 100%;
    margin: auto;
    text-align: center;
}

#image img{
    width: 77%;
    
}


@media (min-width: 800px) {
    main {
    display: flex;
    justify-content: space-between;
    }
    html{
        font-size: 63%;
    }
    button{
        width: 15rem;
        height: 5rem;
    }

    #cabecalho ul li{
        font-size: 2.1rem;
    }
    #cabecalho ul{
        column-gap: 5rem;
        margin-left: 8rem;
    }
    #image{
        width: 120%;

    }


  }


.modal{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    opacity: 0.97;
    position: absolute;
    top: 0;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.modal-view{
    background-color: #e1e1e1;
    width: 70%;
    height: 80%;
    margin: auto;
    opacity: 2;
}